{% extends 'emocioApp/plantilla-base.html' %} {% load static %} {% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'img/background/bg-blog.png' %}')" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-4">
                <img src="{% static 'img/background/bg-logoBlog.png' %}" alt="EmocioBlog" />
                <h1 class="mb-3 bread"></h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for post in singleBlog %}
            <div class="col-lg-8 ftco-animate post-info pl-4">
                <img src="{% static post.imagen.url %}" alt="{{post.titulo}}" class="img-fluid mb-4">
                <div class="text">
                    <h1 class="mb-3">{{post.titulo}}</h1>
                    <span><i class="icon-calendar"></i> {{post.fecha}}</span>
                    <p class="mt-4">{{post.descripcion}}</p>
                </div>
            </div>
            <!-- .col-md-8 -->
            {% endfor %}
            <div class="col-lg-4 sidebar bg-light ftco-animate">
                <div class="sidebar-box ftco-animate mt-4">
                    <h3 class="heading-sidebar">Publicaciones Recientes</h3>
                    {% for p in lastPosts|slice:":5" %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/static/{{MEDIA_URL}}{{p.imagen}});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="{% url 'emocioApp:singleBlog' p.id %}">{{p.titulo}}</a></h3>
                            <p>{{p.descripcion|truncatechars:50}}</p>
                            <div class="meta">
                                <div><span class="icon-calendar"></span> {{p.fecha}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="sidebar-box ftco-animate mb-0 pt-0">
                    <p class="mb-4 mt-3 float-right"><a href="{% url 'emocioApp:blogs' %}" class="btn btn-primary">Todas las
              publicaciones </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}